/**
 *spa.css
 *Root namespace styles
*/

/** Begin reset */
*{
    margin: 0 auto;
    padding: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 10px;
}

ol,ul,dl{
    list-style-position: inside;
}
/** End reset */

/** Begin standard selectors */
body{
    font: 36px 'Trebuchet MS', Verdana , Helvetica , Arial , sans-serif;
    color: #888;
    background-color: #ffffff;
    text-align: center;
    min-height: 500px;
    min-width: 500px;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

a:link,a:visited{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: #FF4040;
}
/**End standard selectors */

.page1{
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 100%;
}

.logo{
    width: 100%;
    position: absolute;
    top: 40%;
}

.welcome{
    margin: 0 0 200px 0;
}

.start{
    font-size: 80px;
}

.swiper-pagination-bullet {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: #000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
    margin: 0 0 0 34px;
    float: left;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.page2{
    width: 100%;
    height: 100%;
}

.head{
    background-color: #FFB6C1;
    width: 100%;
    height: 25%;
    text-align: center;
}

.pagination{
    left: 0;
    width: 100%;
    margin: 174px auto;
}

.radio{
    background: #007aff;
    color: #000000;
}

input{
    display: none;
}

.labelContainer{
    margin: 15px auto;
}

.question{
    margin: 200px auto 50px auto;
}
